@import url('../whitespace-reset.css');

body {
  padding-top: 135px;
  background: transparent url('images/bg_body.gif') 50% 0 repeat;
  text-align: center;
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif;
}

.active {
  color: #6db9ff;
  font-weight: bold;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

header h1 {
  padding-bottom: 127px;
}

header h1 img {
  margin: 0 auto;
}

header h1 a {
  width: 301px;
  display: block;
  height: 245px;
  background: transparent url(images/logo.png) 0 0 no-repeat;
  margin: 0 auto;
  text-indent: -9999px;
}

header ul li a {
  font-size: 26px;
  text-decoration: none;
  color: #cacaca;
}

header ul li {
  display: inline-block;
  margin-right: 89px;
}

header ul li:last-child {
  margin-right: 0;
}

nav {
  padding-bottom: 39px;
}

main {
  padding: 110px 0 125px;
  background: #ffffff;
}

main h2 {
  font-size: 36px;
  padding-bottom: 28px;
}

main h2:before,
main h2:after {
  content: "\2022";
  display: inline-block;
  margin: 0 28px;
  font-size: 23px;
  vertical-align: 3px;
}

main article h3 {
  color: #3e59b2;
  padding-bottom: 18px;
}

main article {
  padding: 0 110px 150px;
}

main article:last-child {
  padding-bottom: 0;
}

footer {
  font-size: 20px;
  color: #b2b2b2;
  background: #e7e7e7;
  padding: 85px 0 72px;
}

footer p {
  padding-bottom: 43px;
}

footer ul li {
  display: inline-block;
  margin-right: 125px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  display: block;
  background: transparent url('images/icons_social-media.png') 0 0 no-repeat;
  width: 50px;
  height: 46px;
}

footer ul li a.facebook {
  background-position: 0 -46px;
}

footer ul li a.mail {
  background-position: 0 -92px;
}

footer ul li a.instagram {
  background-position: 0 100%;
}

#projects figure {
  margin-bottom: 50px;
}

#projects article {
  padding: 0 0 120px 0;
}

#projects article:last-child {
  padding-bottom: 0;
}

#projects article p {
  padding: 0 123px;
}

#team article {
  padding-bottom: 0;
}

#team ul li {
  display: inline-block;
  margin-right: 60px;
}

#team ul img {
  margin-bottom: 15px;
}

#team ul a {
  display: block;
  text-decoration: none;
}

#team article p {
  margin-bottom: 100px;
}

#team ul li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  main article {
    padding: 0 40px 130px;
  }

  main article:last-child {
    padding-bottom: 0;
  }

  main article p {
    text-align: justify;
  }

  #projects img {
    width: 100%;
    display: block;
  }

  #projects article p {
    padding: 0 40px;
  }

  #team ul li {
    width: 49%;
    margin: 0 0 50px 0;
  }

  header h1 {
    padding-bottom: 40px;
  }

  main {
    padding: 70px 0 75px;
  }

  body {
    font-size: 16px;
    padding-top: 80px;
  }

  footer ul li {
    margin-right: 50px;
  }
}

@media screen and (max-width: 480px) {
  header h1 a {
    width: auto;
    height: 50px;
    background-size: 95px auto;
  }

  header nav {
    text-align: right;
  }

  header ul li {
    display: block;
    margin-right: 0;
  }

  header h1 {
    float: left;
    margin: 20px 0 0 0;
  }

  header h1 a {
    text-decoration: none;
    width: auto;
    height: 40px;
    padding: 10px 0 0 55px;
    font-size: 22px;
    color: #ffffff;
    background-position: -20px 0;
    background-size: 90px auto;
    text-indent: 0;
  }

  header nav {
    padding: 0;
  }

  body {
    padding: 0;
  }

  header ul li a {
    font-size: 16px;
  }

  header ul li {
    margin-bottom: 10px;
  }

  header ul li:last-child {
    margin-bottom: 0;
  }

  header {
    padding: 19px;
  }

  main h2:before, main h2:after {
    margin: 0 16px;
  }

  footer ul li {
    margin-right: 30px;
  }
}